/*
selector
{
    propiedad:valor;
    propiedad2:valor2;
}
*/
.clasex
{
    border:1px solid black;
}
nav /*selector de tipo: elemento o etiqueta*/
{
    background: steelblue;
    border: 10px solid black;    
}
h2
{
    color:blue;
}
.titulo/*selector de tipo: clase*/
{
    text-align: center;
    color: purple;
}
.otraclase
{
    border: 1px solid black;
}

#idsec/*selector de tipo: id*/
{
    border: 1px solid black;
}
.😁
{
    color:brown;
    font-size: 20px;
}
*/*selector de tipo: universal*/
{
     color:red; 
}

h2[class]/*selector de tipo: atributo*/
{
    font-size: 6px;
}
[href]
{
    color:violet;
    text-decoration: none;
}
[href="./index.html"]
{
    color:green;
}